 .u-section-1 {
  background-image: url("images/Untitleddesign22.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 403px auto 0 88px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5334em;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 22px auto 47px 87px;
  padding: 6px 37px 6px 35px;
}

.u-section-1 .u-icon-2 {
  color: rgb(92, 107, 192) !important;
  font-size: 1.6667em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.8125rem;
    margin-top: 311px;
    padding-right: 26px;
    padding-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.8125rem;
    margin-top: 14px;
    margin-bottom: 29px;
    margin-left: 88px;
    padding-right: 29px;
    padding-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 298px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    margin-bottom: 53px;
    margin-left: 36px;
    padding-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 222px;
    margin-left: 24px;
    padding: 0 8px 0 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
    margin-bottom: 15px;
    margin-left: 24px;
    padding: 0 15px 0 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 139px;
    margin-left: -18px;
    padding: 1px 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.5rem;
    margin-top: -23px;
    margin-bottom: 30px;
    margin-left: 64px;
    padding-left: 3px;
    padding-right: 3px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 597px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 10px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-2 .u-shape-1 {
  height: 412px;
  width: 429px;
  background-image: none;
  margin: 65px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 439px;
  height: 411px;
  margin: -481px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: 25px auto 0 174px;
}

.u-section-2 .u-text-2 {
  font-family: Artifika;
  font-size: 1.5rem;
  text-align: center;
  margin: 46px 0 0 14px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 60px auto 0;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    width: 433px;
    height: 405px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-2 .u-shape-1 {
    width: 331px;
  }

  .u-section-2 .u-image-1 {
    width: 331px;
    height: 310px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-2 .u-shape-1 {
    height: 255px;
    width: 244px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-2 .u-image-1 {
    width: 230px;
    height: 230px;
    margin-top: -266px;
    margin-bottom: 25px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 575px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 51px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 501px;
  font-size: 4.5rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: Aclonica;
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: Artifika;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-family: Artifika;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 21px 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 218px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("images/default-image.jpg?rand=271d");
}

.u-section-4 .u-sheet-1 {
  min-height: 485px;
}

.u-section-4 .u-text-1 {
  width: 201px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3.75rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 740px;
  font-family: Aclonica;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: -465px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-4 .u-icon-1 {
  height: 185px;
  width: 185px;
  color: rgb(253, 151, 39) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-4 .u-icon-2 {
  height: 185px;
  width: 185px;
  color: rgb(253, 151, 39) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 18px auto 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-4 .u-icon-3 {
  height: 185px;
  width: 185px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 18px auto 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -395px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 343px;
    margin: 30px auto -11px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px 0px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 84px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 84px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 84px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    min-height: 471px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 45px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -159px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 510px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 517px;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 73px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8px) calc(33.3333% - 8px) calc(33.3333% - 8px);
  grid-gap: 12px 12px;
  min-height: 157px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/WhatsAppImage2022-01-06at3.51.07PM.jpeg");
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/taskade.png");
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  background-image: url("images/voiceflow.png");
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 48px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 48px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 129px;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    min-height: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 41px;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 16px 16px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 22px;
    margin-bottom: 29px;
    padding: 16px 37px 17px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 628px;
}

.u-section-6 .u-text-1 {
  width: 382px;
  font-weight: normal;
  margin: 67px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: 30px auto -312px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 410px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  width: 247px;
  height: 247px;
  object-position: 50% 4.83%;
  background-image: url("images/KHIZARSALMAN_Management.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  width: 247px;
  height: 247px;
  object-position: 50% 16.99%;
  background-image: url("images/IMG_20211231_230416.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  width: 247px;
  height: 247px;
  background-image: url("images/Shreya_Chatterjee_Design.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-image-4 {
  width: 247px;
  height: 247px;
  background-image: url("images/WhatsAppImage2022-01-06at12.17.01PM.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-5 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-image-5 {
  width: 247px;
  height: 247px;
  background-image: url("images/AmeeMadhani_content.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-image-6 {
  width: 247px;
  height: 247px;
  background-image: url("images/charvijaiswal_management.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-image-7 {
  width: 247px;
  height: 247px;
  background-image: url("images/CharchikaMishra.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px;
}

.u-section-6 .u-image-8 {
  width: 247px;
  height: 247px;
  background-image: url("images/PreetiKumar_social.png");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-9 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 10px;
}

.u-section-6 .u-image-9 {
  width: 247px;
  height: 247px;
  background-image: url("images/SamratSinghBhandariPR.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-10 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-10 {
  padding: 10px;
}

.u-section-6 .u-image-10 {
  width: 247px;
  height: 247px;
  background-image: url("images/AarushAcharya_Management.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-11 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 10px;
}

.u-section-6 .u-image-11 {
  width: 247px;
  height: 247px;
  background-image: url("images/tanyajain.jpg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-6 .u-text-12 {
  font-size: 2.25rem;
  margin: 32px auto 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 37px;
    margin-bottom: -1940px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-5 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-6 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-7 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-8 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-9 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-10 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-11 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-right: 23px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 89px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    margin-top: 45px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 56px;
    margin-bottom: -37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-6 .u-image-5 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-6 .u-image-6 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-6 .u-image-7 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-6 .u-image-8 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-6 .u-image-9 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-6 .u-image-10 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 42px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-6 .u-image-11 {
    margin-top: 32px;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 42px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 657px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  background-image: none;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-7 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-7 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-7 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-7 .u-icon-2 {
  height: 45px;
  width: 45px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-7 .u-icon-3 {
  height: 45px;
  width: 45px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-7 .u-icon-4 {
  height: 45px;
  width: 45px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 781px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 46px 358px 0 389px;
}

.u-section-8 .u-video-1 {
  width: 907px;
  height: 455px;
  box-shadow: 0 2px 8px 0 rgba(219,84,90,1);
  margin: 34px auto 0;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-8 .u-text-2 {
  margin: 40px 69px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 262px;
    margin-left: 289px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 179px;
    margin-right: 148px;
  }

  .u-section-8 .u-video-1 {
    width: 720px;
    height: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 89px;
    margin-right: 58px;
  }

  .u-section-8 .u-video-1 {
    width: 540px;
    height: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-8 .u-video-1 {
    width: 340px;
    height: 171px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 540px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 57px auto 0;
}

.u-section-9 .u-social-icons-1 {
  height: 38px;
  min-height: 16px;
  width: 135px;
  min-width: 70px;
  white-space: nowrap;
  margin: 21px auto 0;
}

.u-section-9 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
}

.u-section-9 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-9 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-9 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 29px auto 30px;
}

.u-section-9 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }
}